<a href="https://colab.research.google.com/github/Suryarukmini/FMML_Project_and_Labs/blob/main/100_basic_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#01 the given number is negitive or positive
n=int(input("enter a number"))
if n>0:
  print("positive no")
elif n<0:
  print("negative no")
else:
  print("zero")

enter a number8
positive no

In [ ]:
#02 the given is even or odd
n=int(input("enter a number"))
if n%2==0:
  print("even no")
else:
  print("odd no")

enter a number7
odd no

In [ ]:
# 03 greatest in 3 no
n1=4
n2=9
n2=4
if n1>n2 and n1>n3:
  print("n1 is the greatestn no")
elif n2>n1 and n2>n3:
  print("n2 is the greatest no")
else:
  print("n3 is the greastest no")

n3 is the greastest no

In [ ]:
# 04 sum n of n natural numbers

# using for loop

n=int(input("enter a number" ))
s=0
for i in range (1,n+1):
  s=s+i
print(s)

# using recursing
def Naturalnum(num):
  if num==1:
    return 1
  return num + Naturalnum(num-1)
num = int(input("enter a number:"))
print(Naturalnum(num))

enter a number9
45
enter a number:5
15

In [11]:

#05 leap or not
year= int(input("enter the year "))
if( year %4==0 and year % 100 !=0) or (year %400==0):
  print("leap year")
else:
  print("not a leap year")

enter the year 2222
not a leap year

In [17]:
#06 prime number or not
n=int(input("enter a number"))
f=0
for i in range(1,n+1):
  if n%i==0:
   f=f+1

if f==2:
  print("prime no")
else:
  print("not a prime no")

enter a number3
prime no

In [ ]:
#07 sum of the digits of the number

#using while loop

n=int(input("enter the number"))
sum=0
while n>0:
  r=n%10
  sum=sum+r
  n=n//10
print(sum)

# using for loop

n=int(input("enter aa number"))
s=0
for i in range(n):
  r=n%10
  s=s+r
  n=n//10
print(s)

enter the number999
27
enter aa number999
27

In [18]:
#08 reverse number

# method 1
n=int(input("enter the number"))
rev=0
while n>0:
  r=n%10
  rev=rev*10+r
  n=n//10
print(rev)

# method 2

n=int(input("enter the nunmber"))
rev=0
while n>0:
  r=n%10
  print(r,end="")
  n=n//10

enter the number876
678
enter the nunmber9898
8989

In [20]:
#09 armstong number or not
n=int(input("enter the number"))
t=n
s=0
d=0
while n>0:
  r=n%10
  d=d+1
  n=n//10
n=t
while n>0:
  r=n%10
  s=s+r**d
  n=n//10
if s==t:
  print("armstong no")
else:
  print("not a armstong no")

enter the number153
armstong no

In [25]:
#10fibinoci serie
a=0
b=1
c=1
print(a,b,end=" ")
while c<=10:
  c=a+b
  print(c ,end=" ")
  a=b
  b=c

0 1 1 2 3 5 8 13

In [ ]:
#11 factorial

#using for loop
n=int(input("enter the number"))
fact=1
for i in range (1,n+1):
  fact=fact*i
print(fact)

#using while loop

n=int(input("enter the number"))
fact=1
while n>0:
  fact=fact*n
  n=n-1
print(fact)

enter the number9
362880
enter the number9
362880

In [31]:
#12 power of a number
base=int(input("enter the base:"))
power=int(input("enter the power"))
outcome=1
for i in range(1,power+1):
  outcome=outcome*base
print(outcome)

enter the base:5
enter the power3
125

In [ ]:
#13 factors of the number
n=int(input("enter the number"))
for i in range(1,n+1):
  if n%i==0:
    print(i,end=" ")

enter the number8
1 2 4 8

In [36]:
#14 strong number or not
# 145= 1!+4!+5!=145 is called strong
n=int(input("enter a number"))
s=0
t=n

while n>0:
  r=n%10
  f=1
  for i in range (1,r+1):
    f=f*i
  s=s+f
  n=n//10
if s==t:
  print("strong no")
else:
  print("not a strong no")

enter a number145
strong no

In [37]:
#15 perfect number or not
n=int(input ("enter a number :"))
s=0
#t=n in while loop we declared this
for i in range (1,n):
  r=n%i
  if r==0:
    s=s+i
if s==n :
  print("perfect number")
else:
  print("not perfect number")

enter a number :6
perfect number

In [ ]:
#16 prefact square or not
# 81 is perfact squre 9*9
n=

In [ ]:
#17 harshad number
#21 2+1 =3 if is 21 is divisiable by (3)sum of the digits

n=int(input("enter the number"))
s=0
t=n
while n>0:
  x=n%10
  s=s+x
  n=n//10
if t%s==0:
  print("harshad no")
else:
  print("not a harshad no")

In [ ]:
#18 abundunt number
# the sum of factor of given number is greater the given number
#12  1+2+3+4+6=16  12 is also a factor of 12 but we ignore
n= int(input("enter the number"))
s=0
t=n
while n>0:
  for i in range (1,n):
    r=n%i
    if r==0:
      s=s+i
if s>t:
  print("abundunt no")
else:
  print("not a abundunt no")

In [ ]:
#19 friendly pairs

In [ ]:
#20 hcf of 2 numbers


n1=int(input("enter the 1st number:"))
n2=int(input("enter the 2nd number:"))
a=n1
b=n2
while n1!=n2:
  if n1>n2:
    n1=n1-n2
  else:
    n2=n2-n1
print(n1)

enter the 1st number:2
enter the 2nd number:3
1

In [ ]:
#21 lcm of 2 numbers


n1=int(input("enter the 1st number:"))
n2=int(input("enter the 2nd number:"))
for i in range(max(n1,n2),1+(n1*n2)):
  if i%n1==i%n2==0:
    lcm=i
    break
print(lcm)

enter the 1st number:2
enter the 2nd number:7
14

In [ ]:
#22 gcd greatest common divisor
#hcf and gcd  both are same


n1=int(input("enter the 1st number:"))
n2=int(input("enter the 2nd number:"))
a=n1
b=n2
while n1!=n2:
  if n1>n2:
    n1=n1-n2
  else:
    n2=n2-n1
print(n1)

enter the 1st number:3
enter the 2nd number:9
3

In [ ]:
#23 binary to decimal

In [ ]:
#24 octal to decimal

In [ ]:
#25 decimal to hexadecimal

In [ ]:
#26 decimal to octal

In [ ]:
#27 decimal to binary

In [ ]:
#28 hexadecimal to decimal

In [ ]:
#29 find maximam no of handshakes

In [ ]:
#30 area of the circle
# area of the circle pi r**2

r=int(input("enter the radius:"))
area=3.14*r**2
circumference=2*3.14*r
print(area)
print(circumference)

enter the radius:5
78.5
31.400000000000002

In [ ]:
#31 find prime numbers between 1 t0 100
n=100
for i in range (2,n+1):
  f=0
  for j in range (1,i+1):
    if i%j==0:
      f=f+1
  if f==2:
    print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#32 no of days in a month
#arr no. of days =[31,28,31,30,31,30,31,31,30,31,30,31]

year=int(input("enter the year"))
month=int(input("enter the month"))
if (month==2) and (year%400==0) or (year%4==0 and year%100!=0):
  print("no. of days is 29")
elif month==2:
  print("no of days 28")
elif (month==1 or month==3 or month==5 or month==7 or month==8 or month==10 or month==12):
  print("no of days 31")
else:
  print("no of days 30")






# another method
year = int(input("Enter the year: "))
month = int(input("Enter the month (1-12): "))  # Input month as an integer

# Check if it's a leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    leap_year = True
else:
    leap_year = False

# Define the number of days in each month
days_in_month = [31, 28 + leap_year, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

# Check if the input month is within range
if month < 1 or month > 12:
    print("Invalid month entered. Please enter a month between 1 and 12.")
else:
    # Retrieve the number of days from the list (adjust month to 0-indexed)
    num_days = days_in_month[month - 1]
    print(f"Number of days in {month}/{year} is: {num_days}")

enter the year2004
enter the month2
no. of days is 29
Enter the year: 2024
Enter the month (1-12): 2
Number of days in 2/2024 is: 29

In [ ]:
#33 power of number using using recursion
def power(base,exponent):
  if exponent==0:
    return 1
  else :
    return base*power(base,exponent-1)
base=int(input("enter the base value:"))
exponent=int(input("enter the exponent value:"))

print( power(base,exponent))

enter the base value:6
enter the exponent value:3
216